<div class="container">
    <mat-card class="login-card">
        <mat-card-header>
            <div mat-card-avatar class="github-avatar">
                <img src="assets/github.png" alt="GitHub Logo" />
            </div>
            <mat-card-title>Welcome Back!</mat-card-title>
            <mat-card-subtitle>Sign in with GitHub</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p class="description">
                Analyze pull requests from your repositories with ease. Just sign in using your GitHub account and
                you're good to go!
            </p>
        </mat-card-content>

        <mat-card-actions>
            <a mat-flat-button color="primary" [href]="loginUrl">
                <mat-icon>login</mat-icon>
                Login with GitHub
            </a>
        </mat-card-actions>
    </mat-card>
</div>